<html lang="en">
    <head>
        <title>Cat Treat Store</title>
    </head>
    <body style="background-color: lightblue;">
        <h1>Cat Treat Store</h1>
        <h2>Home</h2>
        <a href="{{ url_for('home') }}">Home</a> || <a href="{{ url_for('Shopping_Cart') }}">Shopping Cart</a> || <a href="{{ url_for('add_an_item') }}">Add an item</a>
        <form method="POST" action="/add_an_item">
            <input type="text" name="product_name" placeholder="Enter a product">
            <input type="text" name="product_description" placeholder="Enter description">
            <input type="NUMERIC" name="product_cost" placeholder="Enter cost">
            <input type="submit" value="Add item to stock">
          </form>
    </body>
</html>