<html lang="en">
    <head>
        <title>Dating Game Quiz App</title>
    </head>
    <body style="background-color: lightblue;">
        <h1>Cat Treat Store</h1>
        <a href="{{ url_for('index') }}">Home</a> || <a href="{{ url_for('Shopping_Cart') }}">Shopping Cart</a> || <a href="{{ url_for('add_an_item') }}">Add an item</a> || <a href="{{ url_for('add_user') }}">Add an user</a>  
        <div class="form">
            <form method="POST" action="/Shopping_Cart">
                {{ form.hidden_tag() }} 
                {{ form.username.label }} <br> {{ form.username }} <br><br>
                {{ form.product_name.label }} <br> {{ form.product_name }} <br><br>
                {{ form.submit }}
            </form>
    </body>
</html>