<html lang="en">
    <head>
        <title>Dating Game Quiz App</title>
    </head>
    <body style="background-color: lightblue;">
        <h1>Cat Treat Store</h1>
        <a href="{{ url_for('index') }}">Home</a> || <a href="{{ url_for('Shopping_Cart') }}">Shopping Cart</a> || <a href="{{ url_for('add_an_item') }}">Add an item</a>  || <a href="{{ url_for('add_user') }}">Add an user</a> 
        <form method="POST" action="/add_user">
            <input type="text" name="username" placeholder="Enter your name">
            <input type="text" name="email" placeholder="Enter email">
            <input type="text" name="address" placeholder="Enter address">
            <input type="submit" value="Add User">
        </form>
{% block body %}
{% endblock body %}
    </body>
</html>